# Ignore everything in lib by default
*

# Allow source under /lib/screen
!screen/
!screen/**

# Allow other top-level Dart files if needed
!main.dart
!routes.dart
!theme/
!theme/**
!navigation/
!navigation/**

# Allow package metadata
!../pubspec.yaml
!../pubspec.lock